<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>896559303887-rckqs1dstq11nk0sat7ntt6s4kvp5jn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896559303887-rckqs1dstq11nk0sat7ntt6s4kvp5jn8</string>
	<key>API_KEY</key>
	<string>AIzaSyCzx1aYRc5r-8bX4vauHqk0HTqWWYrjG4M</string>
	<key>GCM_SENDER_ID</key>
	<string>896559303887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.cs193p.imacato.Otter</string>
	<key>PROJECT_ID</key>
	<string>otter-9dd15</string>
	<key>STORAGE_BUCKET</key>
	<string>otter-9dd15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896559303887:ios:36e6af10c345abad</string>
	<key>DATABASE_URL</key>
	<string>https://otter-9dd15.firebaseio.com</string>
</dict>
</plist>